

@media only screen and (max-width: 475px){
    
        .School-heading{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .School-heading h1{
            font-size: 25px;
        }
        .Dean-Picture{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .HOD-Picture{
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .Dean-Picture img{
            width: 200px;
            height: 200px;
            clip-path: circle(50%);
        }
        .HOD-Picture img{
            width: 200px;
            height: 200px;
            clip-path: circle(50%);
        }
        .deanOffice{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 5px;
        }
        .deanOfficeHead{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        tbody tr{
            padding: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid purple;
        }
        .threeOne{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        .backHead{
            display: flex;
            justify-content: space-evenly;
        }
        .requirements{
            padding: 10px;
        }
        .entryRequire{
            display: flex;
            justify-content: center;
            margin: 20px;
        }
        .entryRequire h1{
            font-size: 25px;
        }
        .requirements h3, h2{
            margin: 20px;
        }
        .departmentObj{
            margin: 5px;
        }
        .departmentObj h1{
            font-size: 20px;
        }

        .container{
            margin-top: 20px;
            padding: 5px;
            background-color: #947C9C;
            color: white;
        }
        .schoolName{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
        .profileImage{
            width: 70px;
        }
        .otherDetails{
            margin-top: 10px;
            display: flex;
            /* justify-content: space-evenly; */
            align-items: center;
        }
        .contactsss{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .otherss{
            margin: 0 20px;
        }
        .otherss ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .otherss ul li{
            list-style-type: none;
            padding: 10px;
        }
}





@media only screen and (min-width: 475px){
    
        .School-heading{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Dean-Picture{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .HOD-Picture{
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .Dean-Picture img{
            width: 200px;
            height: 200px;
            clip-path: circle(50%);
        }
        .HOD-Picture img{
            width: 200px;
            height: 200px;
            clip-path: circle(50%);
        }
        .deanOffice{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 5px;
        }
        .deanOfficeHead{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        tbody tr{
            padding: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid purple;
        }
        .threeOne{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        .backHead{
            display: flex;
            justify-content: space-evenly;
        }
        .requirements{
            padding: 10px;
        }
        .entryRequire{
            display: flex;
            justify-content: center;
            margin: 20px;
        }
        .requirements h3, h2{
            margin: 20px;
        }
        .departmentObj{
            margin: 5px;
        }
        .container{
            margin-top: 20px;
            padding: 5px;
            background-color: #947C9C;
            color: white;
            /* display: flex;
            flex-direction: column;
            justify-content: center; */
        }
        .schoolName{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
        }
        .profileImage{
            width: 100px;
        }
        .otherDetails{
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .contactsss{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .otherss{
            margin: 0 20px;
        }
        .otherss ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .otherss ul li{
            list-style-type: none;
            padding: 10px;
        }
}
