

*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #947C9C;
    color: white;
    padding: 10px;
    margin: 10px 0;
}
.shopName{
    font-size: 35px;
    color: black;
}
.headTitle{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workList{
    display: flex;
    margin-top: 20px;
}
.workList ul li{
    list-style-type: none;
    padding: 5px 30px;
    font-size: 20px;
}

.contact{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact ul li{
    list-style-type: none;
    padding: 5px 20px;
    font-size: 20px;
}






















/* .marketImage{
    display: flex;
    height: 20rem;
    gap: 1rem;
}
.marketImage > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.marketImage > div:hover{
    flex: 5;
    cursor: pointer;
}
.marketName{
    background-color: purple;
    color: white;
    font-size: 35px;
    font-family: cursive;
    text-align: center;
}
.links{
    text-align: center;
    font-size: 35px;
}
.links a{
    text-decoration: none;
    color: green;
    text-align: center;
    gap: 50px;
}
.links a:hover{
    color: blue;
}



















 */
