

*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 475px){
    .container{
        background-color: #947C9C;
        color: white;
        padding: 10px 20px;
        margin: 10px 0;
    }
    .shopName{
        font-size: 20px;
        color: black;
        margin-bottom: 10px
    }
    .headTitle{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .workList{
        display: flex;
        margin-top: 20px;
    }
    .workList ul li{
        list-style-type: none;
        padding: 5px 30px;
        font-size: 20px;
    }
    
    .contact{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
    }
    .contact ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact ul li{
        list-style-type: none;
        padding: 5px 20px;
        font-size: 15px;
    }
    
}
@media only screen and (min-width: 475px){
    .container{
        background-color: #947C9C;
        color: white;
        padding: 10px;
        margin: 10px 0;
    }
    .shopName{
        font-size: 35px;
        color: black;
    }
    .headTitle{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .workList{
        display: flex;
        margin-top: 20px;
    }
    .workList ul li{
        list-style-type: none;
        padding: 5px 30px;
        font-size: 20px;
    }
    
    .contact{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact ul li{
        list-style-type: none;
        padding: 5px 20px;
        font-size: 20px;
    }
    
}

