

*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 475px){
    .container{
        background-color: #947C9C;
        color: white;
        padding: 10px 20px;
        margin: 10px 0;
    }
    .shopName{
        font-size: 20px;
        color: black;
        margin-bottom: 10px
    }
    .headTitle{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .workList{
        display: flex;
        margin-top: 20px;
    }
    .workList ul li{
        list-style-type: none;
        padding: 5px 30px;
        font-size: 20px;
    }
    
    .contact{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
    }
    .contact ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact ul li{
        list-style-type: none;
        padding: 5px 20px;
        font-size: 15px;
    }

    /* NEW CHANGES */
    .marketNav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    .productShop{
        display: flex;
        gap: 10px;
    }

    .productShop p{
        background-color: #947C9C;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid white;
        outline: 2px solid  #947C9C;
        cursor: pointer;
    }
    .productShop p a{
        text-decoration: none;
        color: white;
    }

    #products h1{
        text-align: center;
        text-align-last: center;
        background-color: #947C9C;
        color: white;
        font-size: 27px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #947C9C;
        color: white;
        padding: 5px;
    }
    .imageDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imageDiv img{
        width: 430px;
    }
    .productAndOthers{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }
    .productAndOthers h3{
        font-size: 25px;
    }
    .productAndOthers p{
        font-size: 20px;
    }
    .productAndOthers .lastLAst{
        display: block;
        width: 80vw;
        background-color: red;
        padding: 10px;
    }
}
@media only screen and (min-width: 475px){
    .container{
        background-color: #947C9C;
        color: white;
        padding: 10px;
        margin: 10px 0;
    }
    .shopName{
        font-size: 35px;
        color: black;
    }
    .headTitle{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .workList{
        display: flex;
        margin-top: 20px;
    }
    .workList ul li{
        list-style-type: none;
        padding: 5px 30px;
        font-size: 20px;
    }
    
    .contact{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact ul li{
        list-style-type: none;
        padding: 5px 20px;
        font-size: 20px;
    }

    .marketNav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    .productShop{
        display: flex;
        gap: 10px;
    }

    .productShop p{
        background-color: #947C9C;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid white;
        outline: 2px solid  #947C9C;
        cursor: pointer;
    }
    .productShop p a{
        text-decoration: none;
        color: white;
    }

    #products h1{
        text-align: center;
        text-align-last: center;
        background-color: #947C9C;
        color: white;
        font-size: 27px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #947C9C;
        color: white;
        padding: 5px;
        margin: 10px;
    }
    .imageDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imageDiv img{
        width: 430px;
    }
    .productAndOthers{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }
    .productAndOthers h3{
        font-size: 25px;
    }
    .productAndOthers p{
        font-size: 20px;
    }
    .productAndOthers .lastLAst{
        display: block;
        width: 80vw;
        background-color: red;
        padding: 10px;
    }
    
}

