*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
.generalContainer{
    display: flex;
    flex-direction: row;
}


.firstRow{
    padding: 10px;
    background-color:  #947C9C;
    width: 33.33%;
}
.firstRow ul{
    display: flex;
    flex-direction: column;
}
.firstRow ul li{
    list-style-type: none;
    padding: 5px;
}
.firstRow ul li:hover{
    background-color: white;
    margin: 0;
    border-radius: 10px;
}
.firstRow ul li a{
    text-decoration: none;
    color: white;
}
.firstRow ul li a:hover{
    color: #931cbb;
}

#signOut{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}
.searchBox{
    margin: 10px;
    display: flex;
    justify-content: end;
}
.searchBox input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 5px 10px;
}
.searchBox i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -25px;
}
#projectAbstract{
    border-radius: 10px;
    padding: 10px;
}
#newContent{
    border-radius: 10px;
    padding: 10px;
}

.secondRow{
    display: flex;
    flex-direction: column;
    background-color:  #a677b6;
    width: 66.66%;
}

.sectionName{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 20px;
}
.toTop{
    position: fixed;
    right: 0;
    top: 200px;
    width: 35px;
    height: 35px;
}


.schoolPresident{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.InputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.InputDiv input{
    width: 200px;
    height: 30px;
    padding: 0 4px;
    border-radius: 10px;
    font-size: 17px;
}
.InputDiv label{
    color: white;
    font-size: 17px;
}
.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.buttonDiv button{
    background-color: #947C9C;
    color: white;
    padding: 2px;
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}