*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
.generalContainer{
    display: flex;
    flex-direction: row;
}


.firstRow{
    padding: 10px;
    background-color:  #947C9C;
    width: 33.33%;
}
.firstRow ul{
    display: flex;
    flex-direction: column;
}
.firstRow ul li{
    list-style-type: none;
    padding: 5px;
}
.firstRow ul li:hover{
    background-color: white;
    margin: 0;
    border-radius: 10px;
}
.firstRow ul li a{
    text-decoration: none;
    color: white;
}
.firstRow ul li a:hover{
    color: #931cbb;
}







.secondRow{
    background-color:  #a677b6;
    width: 66.66%;
}