

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.navigation{
    display: flex;
}
.navigation ul {
    display: flex;
    margin: 10px 10px 0 0;
}
.navigation ul li{
    padding: 10px;
    list-style-type: none;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
}
.userImageAndName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* SEARCH IN */


.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    height: 50px;
    padding-bottom: 25px;
    width: 500px;
    z-index: 5;
    position: relative;
}

.searchInput{
    display: flex;
    justify-content: end;
    width: 200px;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    font-size: 17px;
}
  
  .searchInput:focus {
    outline: none;
  }
  
  .results {
    padding: 0px;
    box-sizing: border-box;
  }
  
  .results ul {
    margin: 0; 
    padding: 0;
    height: 200px;
    width: auto;
    z-index: 2;
    overflow-y: scroll;
    border-radius: 5px;
}

.results ul::-webkit-scrollbar{
    display: none;
}

  .results ul li {
    list-style: none;
    opacity: 20;
    display: none;
    padding: 8px 12px;
    transition: all 0.5s linear;
    background-color: rgb(220, 216, 216);
    z-index: 5;
  }
  
  .show .results ul li {
    opacity: 2;
    display: block;
    font-size: 20px;
    font-family: cursive;
    border: none;
  }
  
  .show .results {
    padding: 10px;
  }
  
  .results ul li:hover {
    background: #84737300;
    color: green;
  }
  .show .results ul li:hover{
    background-color: rgb(164, 122, 164);
    color: white;
  }

  .show .results ul li a{
    color: black;
  }
  .show .results ul li a:hover{
    color: white;
  }
























/* faculty select */

.overall-select{
    margin-top: 10px;
}
.facultySelect{
    display: flex;
    justify-content: center;
}
#slct1{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.departmentSelect{
    display: flex;
    justify-content: center; 
}
#slct2{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}
.selectSubmitDiv{
    margin-top: -10px;
    display: flex;
    justify-content: center; 
}
.selectSubmitDiv button{
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.sectionHead{
    display: flex;
    justify-content: center;
}

/* SCHOOL PORRTALS LINK */
.fpaQuick p{
    display: flex;
    justify-content: center;
}
.fpaQuick a{
    text-decoration: none;
    color: black;
}

/* OFFCE OF THE STUDENT UNION */
.fpasu p {
    display: flex;
    justify-content: center;
}
.fpasu a{
    text-decoration: none;
    color: black;
}

/* ALL NEWS BUTTON */
#seeMoreBtn{
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* THE QUICK LINKS */

.quickLinks ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quickLinks ul li{
    list-style-type: none;
    padding: 5px;
}

.quickLinks ul li a{
    text-decoration: none;
    color: black;

}

/* SEND US A MESSAGE */
.inputArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sendAmessageText{
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
}
#sendUsTextEmail{
    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
}

.sencMessageBtn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.sencMessageBtn button{
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
/* THE FOOTER */
.footerEmmet{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.iconDiv{
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 30px;
}
.iconDiv i{
   
    padding: 10px;
    margin-right: 5px;
}
.copyrightAnd{
    display: flex;
    padding: 10px;
    align-items: center;
}
/* SIGN OUT BTN */
#signOut{
    cursor: pointer;
    color: red;
}